<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/fragments :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
    <link rel="stylesheet" th:href="@{/css/allPosts.css}">
</head>
<body>
<nav th:include="partials/fragments :: navbar">

</nav>
<div class="everythingMain">
    <div class="nonCenter">
        <p></p>
    </div>
    <div id="postsContainer">
        <div class="postsFeed" th:each="post: ${allPosts}">
            <h1 class="postTitle" th:text="${post.title}"></h1>
            <h2 class="postBody" th:text="${post.body}"></h2>
            <p class="postEmail" th:text="${post.getUser().getEmail()}"></p>
            <div th:if="${user.getId() == post.getUser().getId()}">
                <a th:href="@{|/posts/${post.getId()}/edit|}"><button>Edit</button></a>
                <a th:action="get" th:href="@{|/delete/${post.getId()}|}"><button>Delete</button></a>
            </div>
        </div>
    </div>
    <div class="nonCenter">
        <p></p>
    </div>
</div>
</body>
</html>