body {
    background-color : #6969f1;
    margin:0;
    padding:0;
}

#errorMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
